<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.shopnail">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Manager.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".Manager.NetworkReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.app.START_SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.app.STOP_SERVICE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".View.Login.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MenuFoStaff.MenuForStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme" />
        <activity
            android:name=".View.SelectService.SelectServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme" />
        <activity
            android:name=".View.LoginCustomer.LoginForCustomerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme" />
        <activity
            android:name=".View.StaffInfo.StaffInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme" />
        <activity
            android:name=".View.CustomerServiceHistory.CustomerServiceHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme" />
        <activity
            android:name=".View.ViewCartActivity.ViewCartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".View.ResetPassword.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme" />
        <activity
            android:name=".View.BookAppointment.BookAppointmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".View.ManageStaff.ManageStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme" />
        <activity
            android:name=".View.MyDetailCustomer.MyDetailCustomerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme" />
        <activity
            android:name=".View.MyCustomer.MyCustomerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme" />
        <activity android:name=".View.CancelAppointmentOnline.CancelAppointmentOnlineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme"/>
        <activity android:name=".View.OrderManagermentOnline.OrderManagementOnlineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/nailBarTheme"/>
    </application>

</manifest>